.corpo-principal {
    border: 1px solid #878787;
    border-radius: 20px;
    background-color: #F8F8F8;
    margin-left: 20%;
    margin-right: 20%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-principal {
    text-align: center;
    
}

.subtitulo {
    text-align: center;
}

.box-individuo {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.individuo {
    text-align: center;
    font-style: italic;
}

#verificador {
    background-color: #008CE2;
    color: white;
    border-radius: 5px;
    border: 5px;
    padding: 15px;
    margin-top: 2%;
    margin-bottom: 2%
}